# This timer is for triggering updates of the repository clone

[Unit]
Description=daily kamstrup update
# also trigger at boot:
Requires=kamstrup.update.service

[Timer]
OnCalendar=*-*-* 04:00
RandomizedDelaySec=3m

[Install]
WantedBy=timers.target
