# This service is for trending data from the past year(s)

[Unit]
Description=trending electricity data from past year (service)
Wants=kamstrup.trend.year.timer

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/kamstrup/bin/pastyear.sh -

# [Install]
# WantedBy=multi-user.target
